# OS & Tools
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.tmp

# Build-Outputs & temporäre Dateien
_Debug/
Compiled/
Build/
bin/
*.exe~
*.bak
**/not public
_internal/
src/tests/
CHECKSUMS.txt

# AGS specific
# AudioCache can be rebuilt from sources
src/AudioCache/

# Lockfile
_OpenInEditor.lock

# User settings
Game.agf.user
*.crm.user

# Backups
Game.agf.bak
backup_acsprset.spr

# Memory dumps
*.dmp

# temporary, main game data, before getting packed into exe
game28.dta

# temporary build of the game before being moved to Compiled/ folder
src/*.exe
